body {
  background-color: bisque;
}

h1 {
  color: black;
}

#h1One {
  background-color: lightblue;
}

#h1Two {
  background-color: grey;
  color: gold;
}

.fancy {
  background-color: lightblue;
  padding: 20px 10px 20px 10px;
  border: 2px dashed black;
  font-family: 'Courier';
  font-weight: bold;
}

input:checked {
  background-color: grey;
  box-shadow: 2px 2px 2px red;
}

input:focus {
  background-color: grey;
  box-shadow: 2px 2px 2px red;
}

h2:hover {
  background-color: gold;
}

ul > li:first-child {
  background-color: lightblue;
}

ul > li:nth-last-child(2)-child {
  background-color: lightblue;
}

@import "styles2.css";
