body {
  background-color: bisque;
}

h1 {
  color: black;
}

#h1One {
  background-color: lightblue;
}

#h1Two {
  background-color: grey;
  color: gold;
}

.fancy {
  background-color: lightblue;
  padding: 20px 10px 20px 10px;
  border: 2px dashed black;
  font-family: 'Courier';
  font-weight: bold;
}
